* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container button {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
  outline: none;
  border: none;
  background: none;
}

.container button .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 8px;
  animation: box 5s linear infinite;
}

.container button .box svg {
  height: 65px;
  transition: 0.3s;
}

.container button .box span {
  font-size: 15px;
}

.container button .light-area {
  position: absolute;
  height: 225px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container button .light-area .dot {
  position: absolute;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  z-index: 2;
  animation: dot 5s linear infinite;
}

.container button .light-area .light {
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
  animation: light 5s linear infinite;
}

@keyframes dot {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    background-color: #212121;
  }

  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    background-color: #fff;
  }
}

@keyframes light {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    background: transparent;
  }

  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

@keyframes box {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #3d3d3d;
    border: 2px solid #212121;
    filter: grayscale(100);
  }

  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    border: 2px solid #fff;
    filter: grayscale(0);
  }
}

@keyframes svg {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #3d3d3d;
    border: 2px solid #212121;
  }

  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    border: 2px solid #fff;
  }
}
